@page
@model MvAlimentosApp.Pages.Descuento.IndexModel
@{
    ViewData["Title"] = "Descuentos Disponibles";
}

<h2 class="text-center mt-3">Descuentos Disponibles</h2>

<table class="table table-bordered table-striped mt-3 w-75 mx-auto">
    <thead class="table-dark">
        <tr>
            <th>Alimento</th>
            <th>Empresa</th>
            <th>Descuento</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model.Descuentos)
        {
            <tr>
                <td>@d.NombreAlimento</td>
                <td>@d.Empresa</td>
                <td>@d.Porcentaje %</td>
            </tr>
        }
    </tbody>
</table>
