<h2>Agregar Alimento</h2>

<form method="post" asp-action="Create">
    <label>Nombre:</label>
    <input type="text" name="Nombre" required /><br />

    <label>Categoría:</label>
    <input type="text" name="Categoria" required /><br />

    <label>Empresa:</label>
    <input type="text" name="Empresa" required /><br />

    <button type="submit">Guardar</button>
</form>
