name: Build and deploy ASP.Net Core app to Azure Web App - app-mvcalimentos-sc

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'Backend/**'
      - '.github/workflows/main_app-mvcalimentos-sc.yml'

env:
  AZURE_WEBAPP_NAME: app-mvcalimentos-sc
  AZURE_WEBAPP_PACKAGE_PATH: '.'      # set this to the path to your web app project, defaults to the repository root
  DOTNET_VERSION: '8.0.x'             # set this to the dotnet version to use

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4

    - name: Set up .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Restore
      run: dotnet restore Backend/SupermarketAPI.csproj

    - name: Build
      run: dotnet build Backend/SupermarketAPI.csproj --configuration Release --no-restore

    - name: Publish
      run: dotnet publish Backend/SupermarketAPI.csproj --configuration Release --no-build --output ${{ runner.temp }}/publish

    - name: Upload artifact for deployment job
      uses: actions/upload-artifact@v4
      with:
        name: dotnet-app
        path: ${{ runner.temp }}/publish

  deploy:
    permissions:
      contents: none
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Download artifact from build job
      uses: actions/download-artifact@v4
      with:
        name: dotnet-app

    - name: Deploy to Azure Web App
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v3
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        package: ${{ github.workspace }}
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
