# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy ASP.Net Core app to Azure Web App - app-mvcalimentos-sc

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'Backend/**'
      - '.github/workflows/main_app-mvcalimentos-sc.yml'

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Restore
        run: dotnet restore Backend/SupermarketAPI.csproj

      - name: Build
        run: dotnet build Backend/SupermarketAPI.csproj --configuration Release --no-restore

      - name: Publish
        run: dotnet publish Backend/SupermarketAPI.csproj --configuration Release --no-build --output ${{ runner.temp }}/publish

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ${{ runner.temp }}/publish

  deploy:
    runs-on: windows-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_F95E4389B3254A4A831EE52C9E5CA257 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_C0974F70140A4C61BF229F52E7952975 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_6DA0B0C5515B49AD9D89F0E68C9ECE75 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'app-mvcalimentos-sc'
          slot-name: 'Production'
          package: ${{ github.workspace }}/.net-app
